<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zf.land" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <receiver android:name=".receiver.CallPhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- 开机关机监听 -->
        <receiver android:name=".receiver.BootAndShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>



