<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zf.land" >

    <application>
        <receiver android:name=".receiver.CallPhoneStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>



